<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cálculo de compras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Cálculo de compras</h2>
        <form method="post">
            <input type="text" name="nombre" placeholder="Ingresa tu nombre" required>
            <input type="number" name="edad" placeholder="Ingresa tu edad" required>
            <input type="number" name="cantidad" placeholder="Ingresa la cantidad de tarros de pintura a comprar" required>
            <button type="submit">Calcular</button>
        </form>

        {% if total_final != 0 %}
            <div class="resultado">
                <p>Nombre del cliente: ${{ nombre }}</p>
                <p>Total sin descuento: ${{ total_sin_descuento }}</p>
                <p>El descuento es : ${{ descuento }}</p>
                <p>El total a pagar es de : ${{ total_final }}</p>
            </div>
        {% endif %}

        <a href="/" class="volver">Volver al menú</a>
    </div>
</body>
</html>
